{% load sass_tags %}

<link href="{% sass_src 'scss/test.scss' %}" rel="stylesheet" type="text/css" />

<h1>Welcome to Meal Planner. Please log in.</h1>

{% if notification is not None %}
<p class="notification">{{ notification }}</p>
{% endif %}

{% if error is not None %}
<p class="error">{{ error }}</p>
{% endif %}

<form action="{% url 'authentication:log_into_site' %}" method="post">
  {% csrf_token %}
  <label for="username">Email:</label>
  <input type="text" name="username" id="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />

  <input type="submit" value="login"/>
</form>

<a href="{% url 'authentication:register' %}">Register</a>
