<h1>Adding tag</h1>

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'weekplanner:submit_tag' %}" method="post" >
    {% csrf_token %}
    <label for="name">Tag name:</label>
    <input type="text" name="name" id="name" value=""/>

    <input type="submit" value="add"/>
</form>
