<h1>{{recipe.recipe_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'weekplanner:submit_changes' %}" method="post" id="submissionform">
  {% csrf_token %}
  <label for="name">Recipe name:</label>
  <input type="text" name="name" id="name" value=""/>

  <label for="duration">Duration (min):</label>
  <input type="number" name="duration" id="duration" value="0"/>

  <label for="url">URL:</label>
  <input type="text" name="url" id="url" value=""/>

  <label for="description">Description/notes:</label>
  <textarea form="submissionform" name="description" id="description"></textarea>

  {% for tag in tag_list %}
    <label for="tag{{forloop.counter}}">{{tag.name}}</label>
    <input type="checkbox" name="tag_{{tag.name}}" id="tag{{forloop.counter}}"/>
  {% endfor %}

  <input type="submit" value="add"/>
</form>
