<h1>{{recipe.recipe_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="row">
    <p>Recipe name:<p>
    <p>{{ recipe.name }}</p>
</div>

<div class="row">
    <p>Duration:<p>
    <p>{{ recipe.duration }}</p>
</div>

<div class="row">
    <p>URL:</p>
    <p>{{ recipe.url }}</p>
</div>

<div class="row">
    <p>Description:</p>
    <p>{{ recipe.description }}</p>
</div>

<div class="row">
    <p>Tags:</p>
    {% for tag in recipe.tags.all %}
        <p>{{tag.name}}</p>
    {% endfor %}
</div>

<a href="{% url 'weekplanner:edit' recipe.id %}">Edit recipe</a>
<a href="{% url 'weekplanner:delete' recipe.id %}">Delete recipe</a>
