<h1>{{recipe.recipe_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'weekplanner:submit_changes' %}" method="post" id="submissionform">
  {% csrf_token %}
  <input type="hidden" name="id" id="id" value="{{recipe.id}}">
  
  <label for="name">Recipe name:</label>
  <input type="text" name="name" id="name" value="{{recipe.name}}"/>
  
  <label for="duration">Duration (min):</label>
  <input type="number" name="duration" id="duration" value="{{recipe.duration}}"/>

  <label for="url">URL:</label>
  <input type="text" name="url" id="url" value="{{recipe.url}}"/>

  <label for="description">Description/notes:</label>
  <textarea form="submissionform" name="description" id="description">{{recipe.description}}</textarea>

  {% for tag in tag_list %}
    <label for="tag{{forloop.counter}}">{{tag.name}}</label>
    {% if tag in recipe_tags %}
        <input type="checkbox" name="tag_{{tag.name}}" id="tag{{forloop.counter}}" checked/>
    {% else %}
        <input type="checkbox" name="tag_{{tag.name}}" id="tag{{forloop.counter}}"/>
    {% endif %}
  {% endfor %}

  <input type="submit" value="edit"/>
</form>
