{% if latest_recipe_list %}
    <ul>
    {% for recipe in latest_recipe_list %}
        <li><a href="{% url 'weekplanner:detail' recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No recipes are available.</p>
{% endif %}
<a href="{% url 'weekplanner:add_recipe' %}">Add a recipe</a>
<a href="{% url 'weekplanner:random_recipe' %}">Get a random recipe</a>
<a href="{% url 'weekplanner:tag_index' %}">View all tags</a>
<a href="{% url 'weekplanner:add_tag' %}">Add a tag</a>
